<!doctype html>
<head>
<style>
.container{
  width:80%;
  margin: 0 auto;
}
#banner{
  background-color:blue;
  height:200px;
}
#footer{
  background-color:green;
  height:100px;
}
#links{
  background-color:red;
}
#banner{
  height:170px;
}
#links .row, #intro .row, #large_links .row {
  margin: 0;
}
.col-md-2{
  text-align:center;
  padding:5px 0;
  border: 1px solid black;
}
#content{
  background-color:yellow;
}
</style>
{% block styles %}
{% endblock styles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
{% endblock js %}

{% block js_vars %}
{% endblock js_vars %}
</head>
<body>
{% block container %}
<div class="container">
  <div id="header">
    <div id="banner">
    </div><!--banner-->
    <div id="links">
      <div class="row">
        <div class="col-md-2"><div class="header_link"><a href="/">=^._.^=</a></div></div>
        <div class="col-md-2"><div class="header_link"><a href="/travels">Travels</a></div></div>
        <div class="col-md-2"><div class="header_link"><a href="/planning">Planning</a></div></div>
        <div class="col-md-2"><div class="header_link"><a href="/sfblog">SF Blog</a></div></div>
        <div class="col-md-2"><div class="header_link"><a href="/cats">Cats</a></div></div>
        <div class="col-md-2"><div class="header_link"><a href="/about">About</a></div></div>
      </div>
    </div><!--links-->
  </div><!--header-->
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div><!--content-->
  <div id="footer">
  </div><!--footer-->
</div><!--container-->
{% endblock container %}

{% block endjs %}
{% endblock endjs %}

{% block endjs_vars %}
{% endblock endjs_vars %}
</body>
